:root {
  --spanish-red: #aa151b;
  --spanish-yellow: #f1bf00;
  font-size: 1em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  background-image: url("../assets/rotiv-artic-g_wXjMR2n8M-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
}

#verb-conjugator {
  margin: 0;
  padding: 0;
}

/* General nav and modal styles */
nav .modal {
  font-family: "Open Sans", sans-serif;
}

.modal {
  letter-spacing: -0.05rem;
}

.modal-header {
  background-image: linear-gradient(
    45deg,
    var(--spanish-yellow),
    var(--spanish-red)
  );
}

/* responsive modal styles */
@media screen and (min-width: 768px) and (orientation: portrait) {
  .modal {
    transform: scale(1.2, 1.2);
  }
}

@media screen and (min-height: 768px) and (orientation: landscape) {
  .modal {
    transform: scale(1.2, 1.2);
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  .modal {
    transform: scale(1.5, 1.5);
  }
}

@media screen and (min-height: 1024px) and (orientation: landscape) {
  .modal {
    transform: scale(1.5, 1.5);
  }
}
